admin-frontend/angular
**/node_modules
**/.git
**/.idea
**/target
**/dist
**/venv
**/__pycache__
**/*.log
**/*.md
**/.DS_Store
**/docker-compose*.yml
**/Dockerfile*
**/.env.local
**/.next
**/e2e
**/coverage
.next
out/
.cache/
.turbo/
.nextflow/
.env.local
.env.development
.env.test
.vercel
.terraform
.dockerignore